{% extends 'base.html.twig' %}

{% block main %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Bienvenue sur Y-Setup !</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ path('setup_index')}}">Chercher mon setup !</a>
        </div>
    </header>
    <!-- Youtubeurs Grid-->
    <section class="page-section bg-light" id="youtubeur">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Youtubeurs</h2>
                <h3 class="section-subheading">Liste des derniers setups sorties</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="youtubeur-item">
                        <a class="youtubeur-link" data-toggle="modal" href="#youtubeurModal1">
                            <div class="youtubeur-hover">
                                <div class="youtubeur-hover-content"><i class="fas fa-arrow-up fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/01-thumbnail.jpg" alt="" />
                        </a>
                        <div class="youtubeur-caption">
                            <div class="youtubeur-caption-subheading text-muted">Illustration</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
