{% extends 'base.html.twig' %}

{% block main %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Bienvenue sur Y-Setup !</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ path('setup_index')}}">Chercher mon setup !</a>
        </div>
    </header>
    <!-- Setups Grid-->
    <section class="page-section bg-light" id="setup">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Les derniers setups de youtubeurs :</h2>
            </div>
            <div class="row">
            {% for setup in setups %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="setup-item card h-100">
                        <a class="setup-link" href="{{ path('setup_show', {'id': setup.id}) }}">
                            <div class="setup-hover">
                                <i class="fas fa-arrow-up fa-3x"></i>
                            </div>
                            <img class="card-img-top" src={{ asset('images/youtubeurs/profil/'~setup.getYoutubeur().image) }} alt="">
                        </a>
                        <div class="card-body setup-caption">
                            <h4 class="card-title setup-caption-heading text-muted">
                            {{ setup.name }}
                            </h4>
                        </div>
                    </div>
                </div>
            {% else %}
                <tr>
                    <td colspan="6">Aucun résultat trouvé</td>
                </tr>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
