{% extends 'base.html.twig' %}

{% block title %}Setups{% endblock %}

{% block main %}
<div class="main">
    <div class="container">
        <div class="row">
            {% for setup in setups %}
            <div class="col-lg-3 col-md-6 mb-4">
                <a href="{{ path('setup_show', {'id': setup.id}) }}">
                <div class="card h-100">
                    <img class="card-img-top" src={{ asset('images/youtubeurs/profil/'~setup.getYoutubeur().image) }} alt="">
                    <div class="card-body">
                        <h4 class="card-title">
                        {{ setup.name }}
                        </h4>
                    </div>
                </div>
                </a>
            </div>
            {% else %}
                <tr>
                    <td colspan="6">Aucun résultat trouvé</td>
                </tr>
            {% endfor %}
        </div>
        <a class ="text-white" href="{{ path('setup_new') }}">Create new</a>
    </div>
</div>
{% endblock %}
